
.Body{
    width: 300px;
    margin: auto;
    height: 100%;
  }

  .password{
    text-decoration: none;
    font-size: 11px;
    color: tomato;
    margin-left: 35%;
  }

  .Terms{
    text-decoration: none;
    color: tomato;
  }

  .Condition{
    text-decoration: none;
    color: tomato;
  }

  .text-size{
    font-size: 13px;
  }
  .placeholder{
    font-size: 12px;
    height: 22px;
  }

  .btn {
    height: 25px;
    font-size: 12px;
    color: white;
    background-color: tomato;
    text-align: center;
    transition: 0.2s;
  }
  .btn:hover {
    background-color: tomato;
    color: white;
  }

  .account-text{
    font-size: 12px;
  }

  .anchorTag{
    text-decoration: none;
    margin-left: 40%;
    color: tomato;
  }

  .Xcross{
    cursor: pointer;
    color: tomato;
  }